In [1]:
# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
df = pd.read_excel('hospital_data_sampleee.xlsx')
df.head()

,Date,Medication Revenue,Lab Cost,Consultation Revenue,Doctor Type,Financial Class,Patient Type,Entry Time,Post-Consultation Time,Completion Time,Patient ID
0,2019-11-04,1183.22,10,20.17,ANCHOR,HMO,OUTPATIENT,08:35:45,09:17:54,09:29:46,C10001
1,2019-11-06,738.48,$-,15,ANCHOR,INSURANCE,OUTPATIENT,19:19:16,21:02:36,21:24:07,C10002
2,2019-11-02,660,$-,21.17,ANCHOR,HMO,OUTPATIENT,10:46:52,11:56:25,12:06:28,C10003
3,2019-11-06,600,$-,$-,ANCHOR,MEDICARE,OUTPATIENT,09:38:34,10:55:50,10:58:02,C10004
4,2019-11-01,591.6,$-,12,ANCHOR,INSURANCE,OUTPATIENT,11:16:21,12:06:49,12:06:54,C10005

In [2]:
# Clean column names (strip spaces and replace with underscores)
df.columns = df.columns.str.strip().str.replace(' ', '_')
df.head()

,Date,Medication_Revenue,Lab_Cost,Consultation_Revenue,Doctor_Type,Financial_Class,Patient_Type,Entry_Time,Post-Consultation_Time,Completion_Time,Patient_ID
0,2019-11-04,1183.22,10,20.17,ANCHOR,HMO,OUTPATIENT,08:35:45,09:17:54,09:29:46,C10001
1,2019-11-06,738.48,$-,15,ANCHOR,INSURANCE,OUTPATIENT,19:19:16,21:02:36,21:24:07,C10002
2,2019-11-02,660,$-,21.17,ANCHOR,HMO,OUTPATIENT,10:46:52,11:56:25,12:06:28,C10003
3,2019-11-06,600,$-,$-,ANCHOR,MEDICARE,OUTPATIENT,09:38:34,10:55:50,10:58:02,C10004
4,2019-11-01,591.6,$-,12,ANCHOR,INSURANCE,OUTPATIENT,11:16:21,12:06:49,12:06:54,C10005

In [3]:
# Convert the 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Convert time columns to timedelta format
time_cols = ['Entry_Time', 'Post-Consultation_Time', 'Completion_Time']
for col in time_cols:
    df[col] = df[col].astype(str)  # Convert to string
    df[col] = pd.to_timedelta(df[col])  # Convert to timedelta

df.head()

,Date,Medication_Revenue,Lab_Cost,Consultation_Revenue,Doctor_Type,Financial_Class,Patient_Type,Entry_Time,Post-Consultation_Time,Completion_Time,Patient_ID
0,2019-11-04,1183.22,10,20.17,ANCHOR,HMO,OUTPATIENT,0 days 08:35:45,0 days 09:17:54,0 days 09:29:46,C10001
1,2019-11-06,738.48,$-,15,ANCHOR,INSURANCE,OUTPATIENT,0 days 19:19:16,0 days 21:02:36,0 days 21:24:07,C10002
2,2019-11-02,660,$-,21.17,ANCHOR,HMO,OUTPATIENT,0 days 10:46:52,0 days 11:56:25,0 days 12:06:28,C10003
3,2019-11-06,600,$-,$-,ANCHOR,MEDICARE,OUTPATIENT,0 days 09:38:34,0 days 10:55:50,0 days 10:58:02,C10004
4,2019-11-01,591.6,$-,12,ANCHOR,INSURANCE,OUTPATIENT,0 days 11:16:21,0 days 12:06:49,0 days 12:06:54,C10005

In [6]:
# Step 4: Clean revenue columns (remove special characters, handle missing values)
cols = ['Medication_Revenue', 'Lab_Cost', 'Consultation_Revenue']
for col in cols:
    df[col] = pd.to_numeric(df[col].replace({r'\$-': None, r'-': None, r'\$': ''}, regex=True), errors='coerce')
print("Cleaned revenue columns")

Cleaned revenue columns

In [7]:
# Step 5: Feature Engineering
df['Total_Consultation_Time'] = df['Completion_Time'] - df['Entry_Time']
df['Waiting_Time'] = df['Post-Consultation_Time'] - df['Entry_Time']
df['Consultation_Duration'] = df['Completion_Time'] - df['Post-Consultation_Time']
print("Added feature columns for total consultation time, waiting time, and consultation duration")

Added feature columns for total consultation time, waiting time, and consultation duration

In [8]:
# Step 6: Handle missing data (drop rows with null values)
df = df.dropna()
print("Dropped rows with null values")

# Step 7: Save cleaned data to CSV for future use
df.to_csv('cleaned_dataset.csv', index=False)
print("Cleaned dataare saved!")

Dropped rows with null values
Cleaned dataare saved!

In [9]:
# Step 8: Upload cleaned data to MySQL using SQLAlchemy
engine = create_engine("mysql+pymysql://root:%40Siddiqi123@localhost/healthdatabase")
df.to_sql('healthcare_record_table_for_insights', con=engine, if_exists='replace', index=False)
print("Data uploaded to MySQL!")

Data uploaded to MySQL!

C:\Users\HP\AppData\Local\Temp\ipykernel_10492\3614152093.py:3: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  df.to_sql('healthcare_record_table_for_insights', con=engine, if_exists='replace', index=False)

In [ ]:
# Step 9: Run SQL queries to analyze doctor performance metrics

# Query 1: Calculate average consultation duration per doctor type
query_avg = """
SELECT 
    Doctor_Type,
    ROUND(AVG(TIME_TO_SEC(Consultation_Duration)/60), 2) AS Avg_Consult_Duration_Min
FROM healthcare_record_table_for_insights
WHERE Consultation_Duration IS NOT NULL AND Consultation_Duration != ''
GROUP BY Doctor_Type;
"""

# Query 2: Doctor consultation performance summary (total consultations, avg duration, min/max duration)
query_stats = """
SELECT 
    Doctor_Type,
    COUNT(*) AS Total_Consultations,
    ROUND(AVG(TIME_TO_SEC(Consultation_Duration)/60), 2) AS Avg_Duration_Min,
    ROUND(MIN(TIME_TO_SEC(Consultation_Duration)/60), 2) AS Min_Duration_Min,
    ROUND(MAX(TIME_TO_SEC(Consultation_Duration)/60), 2) AS Max_Duration_Min
FROM healthcare_record_table_for_insights
WHERE Consultation_Duration IS NOT NULL AND Consultation_Duration != ''
GROUP BY Doctor_Type;
"""